/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Kodchasan', sans-serif;
*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
}
.bg{
    position: absolute;
    width: 100vh;
    height: 100vh;
    background-image: url("../img/black_scales_@2X.png");
}
.event{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 203, 20);
    color: rgb(255,255,255);
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.header{
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'ABeeZee', sans-serif;
}
.head{
    display: flex;
    color: rgb(255,255,255);
}
.head1{
    display: flex;
    color: rgb(255,255,255);
    align-items: center;
}
.head2{
    display: flex;
    color: rgb(255,255,255);
}
.di{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gry{
    font-family: 'Kodchasan', sans-serif;
    justify-content: left;
    align-items: center;
    position: relative;
    color: rgb(112, 111, 111);
}
.img{
    position: absolute;
    display: flex;
    justify-content: center;
}
.gr{
    font-family: 'Kreon', serif;
    color: rgb(90, 203, 20);
    position:relative;
    display: flex;
    justify-content:center;
    text-align: left;
    align-items: center;
}
.txt{
    display: flex;
    position:relative;
    text-align: left;
    font-family: 'Kodchasan', sans-serif;
    color: rgb(255,255,255);
}
.join{
    font-family: 'ABeeZee', sans-serif;
    background-color: rgb(90, 203, 20);
    color: rgb(255,255,255);
    font-weight: 700;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
@media screen and (min-width:800px){
    .bg{
        background-size: 4vw 4vw;
        margin-left: 4.5vw;
    }
    .home
    {
        width: 8vw;
        height: 6vh;
        font-size: 2vw;
        border-radius: 4vw;
    }
    .event
    {
        width: 8vw;
        height: 6vh;
        font-size:  2vw;
        border-radius: 4vw;
    }
    .contact
    {
        width:12vw;
        height: 6vh;
        font-size:  2vw;
        border-radius: 4vw;
    }
    .nav
    {
        width:31vw;
        height: 8vh;
        margin-left:60vw ;
        margin-top: 10vh;
    }
    .header
    {
        width:90vw;
    }
    .head{
        width:50vw;
        height: 20vh;
        margin-top: 20px;
        margin-left: -.5vw;
        line-height: 90%;
        font-size: 4.5vw;
        margin-top: 3vw;
        margin-bottom: -2vw;
    }
    .head1
    {
        font-size: 1.42vw;
        width: 40vw;
        height:5vh;
    }
    .head2
    {
        line-height: 90%;  
        width: 10vw;
        height: 11vh;
        font-size: 2.5vw;
        margin-bottom: 2vw;
        padding-top: 3vw;
    }
    .di{
        width: 90vw;
        height: 70vh;
    }
    .gry{
        width:30vw;
        height:30vh;
        font-size: 1.5vw;
        margin-right: 30vw;
    }
    .im{
        width: 36vw;
        height: 45vh;
        margin-bottom: 10vw;
        margin-left: 50vw;
        margin-top: 5vw;
    }
    .gr{
        width: 15vw;
        height: 8vh;
        font-size: 2vw;
        margin-right: 20vw;
    }
    .txt{
        font-size:2vw;
        width: 30vw;
        margin-left: 15vw;
        margin-top: 3vw;
        background-color: rgb(36, 0, 254);
    }
    .join{
        width: 8vw;
        height: 6vh;
        border-radius: 3vw;  
        font-size: 1.3vw;
        margin-left:-45vw;;
        margin-top: 30vw;

    }
    #gl{
        display:flex;
        justify-content: center;
        width: 1220px;
        position: absolute;
        border-color: rgb(90,203,20);
    }
}
.join:hover
{
    background-color: rgb(36, 0, 254);
}
.home:hover
{
    background-color: rgb(36, 0, 254);
}
.event:hover
{
    background-color: rgb(36, 0, 254);
}
.contact:hover
{
    background-color: rgb(36, 0, 254);
}
@media screen and (max-width:480px){
    .bg{
        background-size: 5vw 5vw;
        margin-left: 4.5vw;
    }
    .header{
        width:90vw;
    }
    .head{
        line-height: 95%;;
        width:30vw;
        height: 7.5vh;
        font-size: 6vw;
    }
    .head1{
        width:60vw;
        height:4vw;
        font-size: 2.5vw;
    }
    .head2{
        width:15vw;
        margin-top:8vw;
        font-size: 2vw;
        margin-bottom: 6vw;
    }
    .nav{
        width:50vw;
        left: 40vw;
        top: 4vw;
    }
    .home{
        width:7vh;
        height:4vh;
        font-size: 3vw;
        border-radius: 6vw;
    }
    .event{
        width:7vw;
        height:4vh;
        font-size: 3vw;
        border-radius: 6vw;
    }
    .contact{
        width:15vw;
        height: 6vh;
        font-size: 3vw;
        border-radius: 4vw;
    }
}
